span {
	opacity: 0;
	font-size: 40pt;
	animation: 3.5s bank;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

@keyframes bank {
	from {
		opacity: 0;
	}
	85% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

img {
	opacity: 0;
	animation: 2s heart 1 normal;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
	margin-bottom: -20px;
	margin-left: -10px;
}

@keyframes heart {
	from {
		opacity: 0;
		transform: rotate(0deg);
	}
	to {
		opacity: 1;
		transform: rotate(45deg);
	}
}